.header__logo {
  @media screen and(min-width:480px) {
    margin-right: 88px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 93px;
  }
}

.logo {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Raleway';
  @include font(700, 26px, 1.19, null);
  &__web {
    color: var(--brand-color-accent);
  }

  &__studio {
    color: var(--brand-color_black);
  }

  &__studio--color {
    color: var(--brand-color_white);
  }
}
