.header__logo {
  @media screen and(min-width:480px) {
    margin-right: 88px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 93px;
  }
}

.logo {
  position: relative;
  display: flex;
  flex-grow: 0.1;
  font-family: 'Raleway';
  @include font(700, 26px, 1.19, null);
  &__web {
    color: var(--brand-color-accent);
  }

  &__studio {
    color: var(--brand-color_3);
  }

  &__studio--color {
    color: var(--brand-color_6);
  }
}
