.clients__title {
  text-align: center;
  @media screen and(max-width:1199px) {
    font-size: 28px;
  }
  @media screen and(min-width:1200px) {
    @include font(700, 36px, 1.17, null);
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  &__link {
    @include flexCentr;
    width: 210px;
    height: 92px;
    border-width: 1px;
    border-style: solid;
    border-color: #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms var(--time-function);
  }
  &__icon {
    fill: #afb1b8;
    transition: fill 250ms var(--time-function);
  }
  &t__link:hover,
  &t__link:focus {
    border-color: var(--brand-color-accent);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--brand-color-accent);
  }

  @media screen and(min-width:481px) and (max-width: 1199px) {
    &__link {
      width: 226px;
    }
  }
  @media screen and(min-width:1200px) {
    margin-top: 50px;
    &__link {
      width: 170px;
    }
  }
}
