/* ----------Шапка--------- */
.header {
  &-box {
    display: flex;
    align-items: center;
  }
  @media screen and(min-width:768px) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    background: var(--brand-color_white);
  }
}

/* Навигация в шапке */

.nav {
  & a:hover,
  & a:focus {
    color: var(--brand-color-accent);
  }
  &__link {
    color: var(--brand-color_black);
    @include font(500, 40px, 1.18, 0.02em);
    transition: color 250ms var(--time-function);
  }
  &__link--current {
    color: var(--brand-color-accent);
  }
  @media screen and(max-width:480px) {
    display: flex;
    flex-direction: column;
    gap: 34px;

    &:last-child {
      margin-bottom: 302px;
    }
  }
  @media screen and(min-width:1200px) {
    display: flex;
    gap: 50px;

    &__link {
      display: block;
      padding: 32px 0;
      @include font(500, 14px, 1.14, 0.02em);
    }
    &__item {
      position: relative;
    }
    &__item:last-child {
      margin-right: 305px;
    }

    &__link--current::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--brand-color-accent);
      border-radius: 2px;
    }
  }
}

/* Контакты в шапке */

.contacts {
  @media screen and(max-width:480px) {
    & {
      margin-bottom: 64px;
      display: flex;
      flex-direction: column-reverse;
      gap: 32px;
    }
    &__link {
      @include font(500, 34px, 1.17, 0.02em);
      color: var(--brand-color-accent);
    }
    &__icon {
      display: none;
    }
  }
  @media screen and(min-width:1200px) {
    display: flex;
    gap: 30px;
    &__link {
      display: inline-flex;
      gap: 10px;
      align-items: center;
      transition: color 250ms var(--time-function);
      padding: 32px 0;
      @include font(500, 14px, 1.14, 0.02em);
      color: var(--brand-color-text);
    }
    &__link:hover,
    &__link:focus {
      color: var(--brand-color-accent);
    }
    &__icon {
      fill: currentColor;
    }
  }
}

// Мобильная версия---Кнопка

.mobile {
  &__btn {
    display: none;
    @media screen and(max-width: 480px) {
      position: absolute;
      top: 10px;
      right: 15px;
      display: flex;
      border-style: none;
      padding: 0;
      background-color: var(--brand-color_white);
    }
  }
  &__icon--close {
    text-align: center;
    display: none;
  }
  &__btn.is-open {
    z-index: 2;
  }

  &__btn.is-open &__icon--menu {
    display: none;
  }
  &__btn.is-open &__icon--close {
    display: block;
  }
}

// Мобильная версия---Окно

.mob-menu {
  @media screen and(max-width: 480px) {
    & {
      display: none;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      padding-left: 40px;
      padding-top: 48px;
      padding-bottom: 48px;
      width: 100vw;
      height: 100vh;
      background-color: var(--brand-color_white);
    }
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.no-scroll {
  overflow: hidden;
}

// Мобильная версия---Навигация
.header-social {
  &__list {
    display: flex;
  }
  &__item:nth-child(-n + 3) {
    padding-right: 10px;
  }
  &__item + &__item {
    border-left: 1px solid var(--brand-color-text);
    padding-left: 10px;
  }
  &__link {
    @include font(500, 18px, 1.22, 0.02em);
    color: var(--brand-color-accent);
  }

  @media screen and(min-width: 481px) {
    &__list {
      display: none;
    }
  }
}
